{% extends "basic.html" %}
{% load static %}


  <body>
  {% block content %}

    <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="post">
          {% csrf_token %}
          {{ form }}

        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

  </body>
</html>
{% endblock %}