{% extends "basic.html" %}
{% load static %}

  {% block content %}

    <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <div class="captcha">
      <form action="" method="post">
          {% csrf_token %}
        {{ form }}
      <button type="button" onclick="refresh_captcha()">Odśwież</button>
           <div class="form-group form-group--buttons">
          <a href="{% url 'password_reset' %}#reset" class="btn btn--without-border">Nie pamiętasz hasła?</a>
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button>
        </div>
      </div>
      </form>
    </section>
      <style>
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;

}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

</style>
  <script>
    function refresh_captcha() {
      var captcha = document.querySelector('.captcha img');
      var new_src = captcha.getAttribute('src').split('?')[0] + '?' + new Date().getTime();
      captcha.setAttribute('src', new_src);
      window.location.href = '#login';
      window.location.reload();
    }
  </script>
{% endblock %}