{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
<body>


        <header class="header--main-page">
      <nav class="container container--70">

{% if user.is_authenticated %}


        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ user.first_name   }}
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
                {% if user.is_superuser %}
              <li><a href="admin/">Panel Admina</a></li>
                    {% endif %}
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
          </li>
        </ul>
{% else %}
    <ul class="nav--actions">
        <li><a href="{% url 'login' %}#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="{% url 'register' %}#register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
{% endif %}

        <ul>
          <li><a href="{% url 'index' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'index' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'index' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'index' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            {% if user.is_authenticated %}
          <li><a href="{% url 'form' %}#form" class="btn btn--without-border">Przekaż dary</a></li>

                {% else %}
          <li><a href="{% url 'login' %}#login" class="btn btn--without-border">Przekaż dary</a></li>

            {% endif %}
          <li><a href="{% url 'index' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

<div class="slogan container container--90">
  <div class="slogan--item">
<h1>
    Imię: {{ request.user.first_name }} <br>
    Nazwisko: {{ request.user.last_name }}<br>
    Email : {{ request.user.username }}<br>
    Data dołączenia : {{ request.user.date_joined }}
</h1>

  </div>
</div>
    </header>
</body>
</html>