{% extends "basic.html" %}
{% load static %}
{% block one %}
    <section id="reset" class="login-page">
      <h2>Reset Hasła</h2>
      <div class="form--reset">
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
     <div class="form-group form-group--buttons">
     <button class="btn" href="{% url 'password_reset_done' %}" type="submit">Resetuj hasło</button>
     </div>

</form>

<style>
.form--reset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
  margin-left: 50%;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

</style>
      </div>
    </section>
{% endblock %}