{% extends "basic.html" %}
{% load static %}
{% block one %}

<div class="slogan container container--90">
  <div class="slogan--item">
<div class="form--update">
<form action="" method="post">
    {% csrf_token %}
    Nick: {{ form.username }}
    Imię: {{ form.first_name }}
    Nazwisko: {{ form.last_name }}
    Czy nadać ADMIN: {{ form.is_superuser }}
    <button type="submit">Zapisz</button>
</form>
    </div>
<style>
.form--update {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  margin-left: 20%;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

</style>

  </div>
</div>
{% endblock %}